@charset "UTF-8";
p,
div,
span,
img,
a,
input,
ol,
ul,
li,
i,
em,
strong,
h1,
h2,
h3,
h4,
body,
del {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5c6066;
}

ol,
ul,
li {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

input {
  outline: 0 none;
  border: 0 none;
}

i,
em {
  font-style: normal;
}

strong,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

button {
  outline: 0 none;
  border: 0 none;
  background-color: #fff;
}

body {
  font: 12px/100% '微软雅黑';
  background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.container .header {
  height: 1.3333333333rem;
  background-color: #ff841d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.1866666667rem 0 0.4533333333rem;
}
.container .header .left img {
  height: 0.6666666667rem;
}
.container .header .right img {
  height: 0.9333333333rem;
}
.container .searchbar {
  height: 1.36rem;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .searchbar .inner {
  width: 9.4666666667rem;
  height: 0.8rem;
  position: relative;
}
.container .searchbar .inner .search {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  padding-left: 0.48rem;
}
.container .searchbar .inner .search::placeholder {
  color: #929292;
  font-size: 0.3733333333rem;
}
.container .searchbar .inner .searchbtn {
  width: 1.68rem;
  height: 100%;
  border-radius: 0.4rem;
  background-color: #ff841d;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.3733333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main {
  flex: 1;
  min-height: 13.3333333333rem;
}
.container .footer {
  height: 2.5333333333rem;
  background-color: #efefef;
  border-top: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
}
.container .footer .bar {
  height: 0.9066666667rem;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
}
.container .footer .bar a {
  font-size: 0.3466666667rem;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .footer .bar .login {
  width: 2.9866666667rem;
  border-right: 1px solid #c4c4c4;
}
.container .footer .bar .register {
  width: 2.96rem;
  border-right: 1px solid #c4c4c4;
}
.container .footer .bar .top {
  flex: 1;
}
.container .footer .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .footer .content .title {
  font-size: 0.32rem;
  color: #666666;
  margin-bottom: 0.1866666667rem;
}
.container .footer .content .title .app {
  color: #ff0000;
}
.container .footer .content .web {
  font-size: 0.2666666667rem;
  color: #666666;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .header {
  height: 1.3333333333rem;
  background-color: #ff841d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.1866666667rem 0 0.4rem;
}
.container .header .left, .container .header span {
  color: #fff;
  font-size: 24px;
}
.container .header .right img {
  height: 0.9333333333rem;
}
.container .content {
  position: relative;
}
.container .content .bar {
  background-color: #fff;
  height: 1.0666666667rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0266666667rem solid #ddd;
  font-size: 0.4266666667rem;
}
.container .content .bar .searchkey {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .content .bar .searchkey span {
  margin-right: 0.16rem;
}
.container .content .bar .searchbox {
  flex-basis: 1.3333333333rem;
  border-left: 0.0266666667rem solid #ddd;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}
.container .content .list {
  width: 100%;
  position: absolute;
  top: 1.0666666667rem;
  left: 0;
  display: none;
  z-index: 4;
  background-color: #fff;
}
.container .content .list li {
  line-height: 1.0666666667rem;
  padding: 0.1066666667rem 0.2666666667rem;
  font-size: 0.48rem;
  border-bottom: 0.0266666667rem solid #ddd;
}
.container .content .list li .fa-check {
  color: #ff841d;
  float: right;
  margin-top: 0.2133333333rem;
  margin-right: 0.2666666667rem;
  font-size: 0.5866666667rem;
}
.container .content .areashop {
  width: 100%;
  position: absolute;
  top: 1.0666666667rem;
  left: 0;
  display: none;
  z-index: 4;
  background-color: #fff;
}
.container .content .areashop li {
  line-height: 1.0666666667rem;
  padding: 0.1066666667rem 0.2666666667rem;
  font-size: 0.48rem;
  border-bottom: 0.0266666667rem solid #ddd;
}
.container .content .areashop li .fa-check {
  color: #ff841d;
  float: right;
  margin-top: 0.2133333333rem;
  margin-right: 0.2666666667rem;
  font-size: 0.5866666667rem;
}
.container .main {
  overflow: hidden;
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}
.container .main .outer {
  padding: 0.08rem;
  width: 50%;
}
.container .main .outer .inner {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.container .main .outer .inner img {
  width: 3.4666666667rem;
  height: 3.4666666667rem;
  display: block;
  margin: 0 auto;
}
.container .main .outer .inner .title {
  text-align: center;
  font-size: 0.3733333333rem;
  line-height: 0.8rem;
  height: 0.8rem;
  margin: 0.1066666667rem 0rem;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container .main .outer .inner .subtitle {
  height: 0.8rem;
  line-height: 0.8rem;
  color: #ff841d;
  font-size: 0.5333333333rem;
  padding-left: 0.2666666667rem;
  margin-bottom: 0.1066666667rem;
}
.container .main .outer .inner .subtitle .gotogether {
  float: right;
  width: 1.6rem;
  height: 0.6933333333rem;
  background-color: #ff841d;
  color: #fff;
  border-radius: 0.1066666667rem;
  margin-right: 0.2666666667rem;
  font-size: 0.4266666667rem;
}

/*# sourceMappingURL=coudanpin.css.map */
