@charset "UTF-8";
p,
div,
span,
img,
a,
input,
ol,
ul,
li,
i,
em,
strong,
h1,
h2,
h3,
h4,
body,
del {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5c6066;
}

ol,
ul,
li {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

input {
  outline: 0 none;
  border: 0 none;
}

i,
em {
  font-style: normal;
}

strong,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

button {
  outline: 0 none;
  border: 0 none;
  background-color: #fff;
}

body {
  font: 0.32rem/100% "微软雅黑";
  background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

body {
  background-color: #f7f7f7;
}

.header {
  background-color: #f4483e;
  height: 1.1733333333rem;
  display: flex;
  align-items: center;
}
.header .back {
  flex-basis: 1.3333333333rem;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.header .title {
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5333333333rem;
}
.header .downloadApp {
  flex-basis: 1.3333333333rem;
}
.header .downloadApp img {
  width: 0.88rem;
}

.main .Topnav {
  height: 1.0666666667rem;
  background-color: #fff;
  line-height: 1.0666666667rem;
  padding: 0 0.2666666667rem;
}
.main .Topnav .mui-scroll-wrapper {
  height: 100%;
}
.main .Topnav .mui-scroll-wrapper .mui-scroll {
  height: 100%;
}
.main .Topnav .mui-scroll-wrapper .mui-scroll a {
  margin-right: 0.5866666667rem;
  font-size: 0.3733333333rem;
  padding: 0.2933333333rem 0;
  position: relative;
}
.main .Topnav .mui-scroll-wrapper .mui-scroll a:last-child {
  margin-right: 0;
}
.main .Topnav .mui-scroll-wrapper .mui-scroll a.active {
  color: #e4393c;
}
.main .Topnav .mui-scroll-wrapper .mui-scroll a.active:after {
  content: '';
  width: 100%;
  height: 0.08rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ed1c24;
}
.main .goodList ul li {
  width: 100%;
  height: 3.92rem;
  padding: 0.1866666667rem 0.2666666667rem 0.2666666667rem;
  background-color: #fff;
  margin-top: 0.16rem;
  display: flex;
}
.main .goodList ul li .image {
  width: 3.4666666667rem;
  height: 3.4666666667rem;
  margin-right: 0.1333333333rem;
}
.main .goodList ul li .image img {
  width: 100%;
  height: 100%;
}
.main .goodList ul li .info {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}
.main .goodList ul li .info .des {
  font-size: 0.4266666667rem;
  color: #000;
  line-height: 0.5333333333rem;
}
.main .goodList ul li .info .price {
  color: #fc353a;
  font-size: 0.5333333333rem;
}
.main .goodList ul li .info .price i {
  margin-right: 0.08rem;
  font-size: 0.48rem;
}
.main .goodList ul li .info .price em {
  font-size: 0.32rem;
}
.main .goodList ul li .info .price del {
  font-size: 0.32rem;
  color: #a8a8a8;
  margin-left: 0.32rem;
}
.main .goodList ul li .info .bar {
  display: flex;
}
.main .goodList ul li .info .bar i {
  height: 0.32rem;
  background-color: #ffb7b7;
  border: 0.0266666667rem solid #fc353a;
  margin-right: 0.2666666667rem;
  width: 2.1333333333rem;
  border-radius: 0.16rem;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
}
.main .goodList ul li .info .bar i em {
  height: 100%;
  background-color: #fc353a;
  border-radius: 0.16rem;
}
.main .goodList ul li .info .bar i span {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.main .goodList ul li .info .bar b {
  color: #fc353a;
}
.main .goodList ul li .info .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main .goodList ul li .info .bottom a:first-child {
  border: 0.0266666667rem dashed #e4393c;
  color: #e4393c;
  height: 0.64rem;
  padding: 0.1066666667rem;
}
.main .goodList ul li .info .bottom a:last-child {
  width: 1.5466666667rem;
  height: 0.7466666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5e5d;
  color: #fff;
  border-radius: 0.08rem;
}

.footer {
  margin-top: 0.8533333333rem;
  height: 2.5333333333rem;
  background-color: #efefef;
  border-top: 0.0266666667rem solid #c4c4c4;
  display: flex;
  flex-direction: column;
}
.footer .bar {
  height: 0.9066666667rem;
  border-bottom: 0.0266666667rem solid #c4c4c4;
  display: flex;
}
.footer .bar a {
  font-size: 0.3466666667rem;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .bar .login {
  width: 2.9866666667rem;
  border-right: 0.0266666667rem solid #c4c4c4;
}
.footer .bar .register {
  width: 2.96rem;
  border-right: 0.0266666667rem solid #c4c4c4;
}
.footer .bar .top {
  flex: 1;
}
.footer .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .content .title {
  font-size: 0.32rem;
  color: #666666;
  margin-bottom: 0.1866666667rem;
}
.footer .content .title .app {
  color: #ff0000;
}
.footer .content .web {
  font-size: 0.2666666667rem;
  color: #666666;
}
.footer .fixed {
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  position: fixed;
  right: 0.2666666667rem;
  bottom: 0.8rem;
  background-color: #808080;
  border-radius: 0.5333333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .fixed i {
  color: #fff;
  font-size: 0.5333333333rem;
}

/*# sourceMappingURL=lowPrice.css.map */
