@charset "UTF-8";
p,
div,
span,
img,
a,
input,
ol,
ul,
li,
i,
em,
strong,
h1,
h2,
h3,
h4,
body,
del {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5c6066;
}

ol,
ul,
li {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

input {
  outline: 0 none;
  border: 0 none;
}

i,
em {
  font-style: normal;
}

strong,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

button {
  outline: 0 none;
  border: 0 none;
  background-color: #fff;
}

body {
  font: 0.32rem/100% "微软雅黑";
  background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

body {
  background-color: #f7f7f7;
}

.header {
  background-color: #f4483e;
  height: 1.1733333333rem;
  display: flex;
  align-items: center;
}
.header .back {
  flex-basis: 1.3333333333rem;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
=======
  font-size: 0.8rem;
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
}
.header .title {
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5333333333rem;
}
.header .downloadApp {
  flex-basis: 1.3333333333rem;
}
.header .downloadApp img {
  width: 0.88rem;
}

.main .Topnav {
  height: 1.0666666667rem;
  background-color: #fff;
  line-height: 1.0666666667rem;
  padding: 0 0.4rem;
  position: relative;
}
.main .Topnav .mui-scroll-wrapper a {
  line-height: 1.0666666667rem;
  margin-right: 0.56rem;
  font-size: 0.4rem;
}
.main .Topnav .mui-scroll-wrapper a:last-child {
  margin-right: 0;
}
.main .Topnav .mui-scroll-wrapper a.active {
  color: #e4393c;
<<<<<<< HEAD
  box-shadow: 0px 0.0266666667rem 0px #ed1c24;
=======
  box-shadow: 0 0.6666666667rem 0 #ed1c24;
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
}
.main .goodList ul li {
  width: 100%;
  height: 3.92rem;
  padding: 0.1866666667rem 0.2666666667rem 0.2666666667rem;
<<<<<<< HEAD
  background-color: yellow;
=======
  background-color: fff;
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
  margin-top: 0.16rem;
  display: flex;
}
.main .goodList ul li .image {
<<<<<<< HEAD
  background-color: yellowgreen;
=======
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
  width: 3.4666666667rem;
  height: 3.4666666667rem;
  margin-right: 0.1333333333rem;
}
.main .goodList ul li .image img {
  width: 100%;
  height: 100%;
}
.main .goodList ul li .info {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}
.main .goodList ul li .info .des {
  font-size: 0.4266666667rem;
  color: #000;
  line-height: 0.5333333333rem;
}
.main .goodList ul li .info .price {
  color: #fc353a;
<<<<<<< HEAD
}
.main .goodList ul li .info .price .newprice {
  font-size: 0.5333333333rem;
  margin-right: 0.1333333333rem;
}
.main .goodList ul li .info .price .oldprice {
  color: #a8a8a8;
}
.main .goodList ul li .info .ticket {
  display: flex;
}
.main .goodList ul li .info .ticket .progress {
  height: 0.32rem;
  background-color: #ffb7b7;
  border: 0.0266666667rem solid #fc353a;
  margin-right: 0.1333333333rem;
  width: 2.1333333333rem;
  border-radius: 0.16rem;
  color: #fff;
  text-align: center;
}
.main .goodList ul li .info .ticket .get {
=======
  font-size: 0.5333333333rem;
}
.main .goodList ul li .info .price i {
  margin-right: 0.08rem;
  font-size: 0.48rem;
}
.main .goodList ul li .info .price em {
  font-size: 0.32rem;
}
.main .goodList ul li .info .price del {
  font-size: 0.32rem;
  color: #a8a8a8;
  margin-left: 0.32rem;
}
.main .goodList ul li .info .bar {
  display: flex;
}
.main .goodList ul li .info .bar i {
  height: 0.32rem;
  background-color: #ffb7b7;
  border: 0.0266666667rem solid #fc353a;
  margin-right: 0.2666666667rem;
  width: 2.1333333333rem;
  border-radius: 0.16rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.main .goodList ul li .info .bar b {
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
  color: #fc353a;
}
.main .goodList ul li .info .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
<<<<<<< HEAD
.main .goodList ul li .info .bottom .getcoupon {
=======
.main .goodList ul li .info .bottom a:first-child {
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
  border: 0.0266666667rem dashed #e4393c;
  color: #e4393c;
  height: 0.64rem;
  padding: 0.1066666667rem;
}
<<<<<<< HEAD
.main .goodList ul li .info .bottom .link {
=======
.main .goodList ul li .info .bottom a:last-child {
>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
  width: 1.5466666667rem;
  height: 0.7466666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5e5d;
  color: #fff;
  border-radius: 0.08rem;
}

<<<<<<< HEAD
=======
.footer {
  margin-top: 0.8533333333rem;
  height: 2.5333333333rem;
  background-color: #efefef;
  border-top: 0.0266666667rem solid #c4c4c4;
  display: flex;
  flex-direction: column;
}
.footer .bar {
  height: 0.9066666667rem;
  border-bottom: 0.0266666667rem solid #c4c4c4;
  display: flex;
}
.footer .bar a {
  font-size: 0.3466666667rem;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .bar .login {
  width: 2.9866666667rem;
  border-right: 0.0266666667rem solid #c4c4c4;
}
.footer .bar .register {
  width: 2.96rem;
  border-right: 0.0266666667rem solid #c4c4c4;
}
.footer .bar .top {
  flex: 1;
}
.footer .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .content .title {
  font-size: 0.32rem;
  color: #666666;
  margin-bottom: 0.1866666667rem;
}
.footer .content .title .app {
  color: #ff0000;
}
.footer .content .web {
  font-size: 0.2666666667rem;
  color: #666666;
}
.footer .fixed {
  width: 1.0666666667rem;
  height: 1.0666666667rem;
  position: fixed;
  right: 0.2666666667rem;
  bottom: 0.8rem;
  background-color: #808080;
  border-radius: 0.5333333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .fixed i {
  color: #fff;
  font-size: 0.5333333333rem;
}

>>>>>>> 12ea3259b169bd1de6f0db865ae4194b6bba0a3d
/*# sourceMappingURL=lowPrice.css.map */
