@import "common.scss";
//头部
body {
    background-color: #f7f7f7;
}

.header {
    background-color: #f4483e;
    height: pr(44);
    display: flex;
    align-items: center;
    .back {
        flex-basis: pr(50);
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: pr(30);
    }
    .title {
        flex: 1;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: pr(20);
    }
    .downloadApp {
        flex-basis: pr(50);
        img {
            width: pr(33);
        }
    }
}

.main {
    .Topnav {
        height: pr(40);
        background-color: #fff;
        line-height: pr(40);
        padding: 0 pr(15);
        position: relative;
        .mui-scroll-wrapper {
            a {
                line-height: pr(40);
                margin-right: pr(21);
                font-size: pr(15);
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    color: #e4393c;
                    box-shadow: 0 pr(25) 0 #ed1c24;
                }
            }
        }
    }
    .goodList {
        ul {
            li {
                width: 100%;
                height: pr(147);
                padding: pr(7) pr(10) pr(10);
                background-color: #fff;
                margin-top: pr(6);
                display: flex;
                .image {
                    width: pr(130);
                    height: pr(130);
                    margin-right: pr(5);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    display: flex;
                    flex: 1;
                    justify-content: space-around;
                    flex-direction: column;
                    align-items: flex-start;
                    .des {
                        font-size: pr(16);
                        color: #000;
                        line-height: pr(20);
                    }
                    .price {
                        color: #fc353a;
                        font-size: pr(20);
                        i {
                            margin-right: pr(3);
                            font-size: pr(18);
                        }
                        em {
                            font-size: pr(12);
                        }
                        del {
                            font-size: pr(12);
                            color: #a8a8a8;
                            margin-left: pr(12);
                        }
                    }
                    .bar {
                        display: flex;
                        i {
                            height: pr(12);
                            background-color: #ffb7b7;
                            border: pr(1) solid #fc353a;
                            margin-right: pr(10);
                            width: pr(80);
                            border-radius: pr(6);
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                        }
                        b {
                            color: #fc353a;
                        }
                    }
                    .bottom {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        a:first-child {
                            border: pr(1) dashed #e4393c;
                            color: #e4393c;
                            height: pr(24);
                            padding: pr(4);
                        }
                        a:last-child {
                            width: pr(58);
                            height: pr(28);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #ff5e5d;
                            color: #fff;
                            border-radius: pr(3);
                        }
                    }
                }
            }
        }
    }
}

.fixed {
    width: pr(40);
    height: pr(40);
    position: fixed;
    right: pr(10);
    bottom: pr(30);
    background-color: #808080;
    border-radius: pr(20);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: #fff;
        font-size: pr(20);
    }
}