@import "./common.scss";

.container{
    width: 100%;
    .main{
        .nav{
            height: pr(38);
            width: 100%;
            padding-left: pr(10);
            font-size: pr(14);
            line-height: pr(38);
            border-top: pr(1) solid #ccc;
            border-bottom: pr(1) solid #ccc;
            background-color: #ebebeb;
            a{
                color: #5a5a5a;
            }
        }


        .rankings{
            height: pr(62);
            font-size: pr(16);
            color: #874604;
            background-color: #eee;
            padding: pr(10) pr(8);
            div{
                border: pr(1) solid #ccc;
                height: pr(42);
                padding-left: pr(8);
                line-height: pr(42);
            }
        }

        .list{
            .mui-table-view{
                background-color: #eee;
                &:before{
                    height: 0;
                }
                &:after{
                    height: 0;
                }
                li{
                    font-weight: bold;
                    border-top: 0;
                    .mui-badge{
                        background-color: #eee;
                    }
                }
            }
        }
    }
}
