//将px转换为rem
@function pr($p) {
    @return $p / 37.5+rem;
}

//初始化代码
p,
div,
span,
img,
a,
input,
ol,
ul,
li,
i,
em,
strong,
h1,
h2,
h3,
h4,
body,
del {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5c6066;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

input {
    outline: 0 none;
    border: 0 none;
}

i,
em {
    font-style: normal;
}

strong,
h1,
h2,
h3,
h4 {
    font-weight: normal;
}

button {
    outline: 0 none;
    border: 0 none;
    background-color: #fff;
}

body {
    font: pr(12)/100% '微软雅黑';
    background-color: #ffffff;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f7f7f7;
}

//头部
.header {
    background-color: #f4483e;
    height: pr(44);
    display: flex;
    align-items: center;
    .back {
        flex-basis: pr(50);
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        flex: 1;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: pr(20);
    }
    .downloadApp {
        flex-basis: pr(50);
        img {
            width: pr(33);
        }
    }
}

.main {
    .Topnav {
        height: pr(40);
        background-color: #fff;
        line-height: pr(40);
        padding: 0 pr(15);
        position: relative;
        .mui-scroll-wrapper {
            a {
                line-height: pr(40);
                margin-right: pr(21);
                font-size: pr(15);
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    color: #e4393c;
                    box-shadow: 0px pr(1) 0px #ed1c24;
                }
            }
        }
    }
    .goodList {
        ul {
            li {
                width: 100%;
                height: pr(147);
                padding: pr(7) pr(10) pr(10);
                background-color: yellow;
                margin-top: pr(6);
                display: flex;
                .image {
                    background-color: yellowgreen;
                    width: pr(130);
                    height: pr(130);
                    margin-right: pr(5);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .info {
                    display: flex;
                    flex: 1;
                    justify-content: space-around;
                    flex-direction: column;
                    align-items: flex-start;
                    .des {
                        font-size: pr(16);
                        color: #000;
                        line-height: pr(20);
                    }
                    .price {
                        color: #fc353a;
                        .newprice {
                            font-size: pr(20);
                            margin-right: pr(5);
                        }
                        .oldprice {
                            color: #a8a8a8;
                        }
                    }
                    .ticket {
                        display: flex;
                        .progress {
                            height: pr(12);
                            background-color: #ffb7b7;
                            border: pr(1) solid #fc353a;
                            margin-right: pr(5);
                            width: pr(80);
                            border-radius: pr(6);
                            color: #fff;
                            text-align: center;
                        }
                        .get {
                            color: #fc353a;
                        }
                    }
                    .bottom {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        .getcoupon {
                            border: pr(1) dashed #e4393c;
                            color: #e4393c;
                            height: pr(24);
                            padding: pr(4);
                        }
                        .link {
                            width: pr(58);
                            height: pr(28);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #ff5e5d;
                            color: #fff;
                            border-radius: pr(3);
                        }
                    }
                }
            }
        }
    }
}